@switch (layout) {
  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Empty layout -->
  <!-- ----------------------------------------------------------------------------------------------------- -->
  @case ("empty") {
    <fleet-empty></fleet-empty>
  }

  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Layouts with vertical navigation -->
  <!-- ----------------------------------------------------------------------------------------------------- -->

  <!-- Admin -->
  @case ("admin") {
    <fleet-admin></fleet-admin>
  }
}
